<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lord of the Fries</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Courgette|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/style.css" type="text/css"/>
        {{!-- <link rel="shortcut icon" type="image/png" href="assets/images/cookHat.png" width="16px"> --}}
    </head>
	<body>
        <div class="wrapper">
            <div class="logo">
                <img src="assets/images/logo.png"/>
            </div>

            <div class="container">
                <div class="menu col-sm-12">
                    <h5> Menu </h5>
                    <p>You as our valued customer has the power to customized the Lord of the Fries menu!</p>
                </div>

                {{{body}}}
            
            <!-- Footer  -->
            <div class="footer-wrapper">
                <footer class="main-footer col-sm-12">
                    <div class="foo address">
            
                        <h4> Address </h4>
                        <ul>
                            <li>Lord of the Fries </li>
                            <li> 9400 International Drive, Orlando 32819 </li>
                        </ul>
                    </div>
            
                    <div class="foo reservation">
                        
                        <h4> Reservation </h4>
                        <ul>
                            <li> +1 (407) 800-LORD</li>
                            <li>contact@lordofthefries.com</li>
                        </ul>
                    </div>
            
                    <div class="foo open">
                        <h4> Open Hours </h4>
                        <ul>
                            <li> Monday-Friday: 10 AM- 11PM </li>
                            <li> Saturday- Sunday: 9AM- 10PM </li>
                        </ul>
                    </div>
                </footer>
                <div class="copy">
                    <div class="copyright">
                        &copy; Copyright 2018, Lord of the Fries.
                    </div>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/assets/js/fries.js"></script>
	</body>
</html>

